<ion-view view-title="Patient Appointment">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Schedule visit for {{patient.firstName + ' ' + patient.lastName}}
        <h4>If this is an emergency, please call 911</h4>
      </div>
    </div>
    <map center="43.07493,-89.381388" zoom="16"></map>
    <div>
      <button class="button button-block button-assertive">
        Sickness or Injury
      </button>
      <button class="button button-block button-balanced">
        Physical
      </button>
      <button class="button button-block button-calm">
        Welcome Visit
      </button>
    </div>
  </ion-content>
</ion-view>
